.ui-dialog-success, .ui-dialog-error {
    width: 168px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    z-index: 9999;
}

.ui-dialog-error {
    background: rgba(0, 255, 0, .5);
    color: black;

}

.ui-dialog-error {
    background: rgba(220,20,60,.5);
    color: white;
}