<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xut.dao.UserMapper">
    <select id="getUserByIdAndPwd" resultMap="user">
      SELECT xut_id, xut_identification_id, xut_sex, xut_type, xut_user_name,
        xut_real_name, xut_phone, xut_avatar, xut_introduction
      FROM xut_user WHERE xut_identification_id = #{identificationId} AND xut_password = #{password}
    </select>

    <select id="getAll" resultMap="user">
        SELECT xut_id, xut_identification_id, xut_sex, xut_type, xut_user_name,
        xut_real_name, xut_phone, xut_avatar, xut_introduction
        FROM xut_user
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO xut_user(xut_password, xut_identification_id, xut_sex, xut_user_name, xut_real_name, xut_phone, xut_avatar, xut_introduction, xut_type)
        VALUES(#{password}, #{identificationId}, #{sex}, #{userName}, #{realName}, #{phone}, #{avatar}, #{introduction},
        <choose>
            <when test="type == null">
                1
            </when>
            <when test="type != null">
                #{type}
            </when>
        </choose> )
    </insert>

    <update id="update" parameterType="com.xut.bean.User">
        UPDATE xut_user
        SET xut_sex = #{sex}, xut_user_name = #{userName},
        xut_real_name = #{realName}, xut_phone = #{phone}, xut_avatar = #{avatar}, xut_introduction = #{introduction}
        <if test="#{type} != null">
            , xut_type = #{type}
        </if>
        WHERE xut_id = #{id}
    </update>

    <update id="resetPassword">
        UPDATE xut_user
        SET xut_password = #{password}
        WHERE xut_id = #{id}
    </update>

    <select id="getByIds" resultMap="user">
        SELECT xut_id, xut_identification_id, xut_sex, xut_type, xut_user_name,
        xut_real_name, xut_phone, xut_avatar, xut_introduction
        FROM xut_user
        WHERE xut_id IN
        <foreach collection="list" item="item" close=")" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="search" resultMap="user, totalCount">
        SELECT SQL_CALC_FOUND_ROWS u.xut_id, xut_identification_id, xut_sex, xut_type, xut_user_name,
        xut_real_name, xut_phone, xut_avatar, xut_introduction
        FROM xut_user u
        LEFT JOIN (SELECT o.xut_user_id, COUNT(1) AS count FROM xut_order o GROUP BY xut_user_id) o ON u.xut_id = o.xut_user_id
        WHERE (#{type} IS NULL OR #{type} = xut_type)
        AND (#{old} IS NULL OR IF(#{old}=0, o.count IS NULL OR o.count = 0, o.count > 0))
        LIMIT ${(offset - 1) * pageSize},#{pageSize};

        SELECT FOUND_ROWS() as totalCount;
    </select>

    <delete id="delete">
        DELETE FROM xut_user WHERE xut_id IN
        <foreach collection="list" index="index" item="item" open = "(" separator = "," close=")">
            #{item}
        </foreach>
    </delete>

    <resultMap id="user" type="com.xut.bean.User">
        <id column="xut_id" property="id"></id>
        <result column="xut_password" property="password"></result>
        <result column="xut_identification_id" property="identificationId"></result>
        <result column="xut_sex" property="sex"></result>
        <result column="xut_type" property="type"></result>
        <result column="xut_user_name" property="userName"></result>
        <result column="xut_real_name" property="realName"></result>
        <result column="xut_phone" property="phone"></result>
        <result column="xut_avatar" property="avatar"></result>
        <result column="xut_introduction" property="introduction"></result>
        <result column="xut_created_time" property="createdTime"></result>
        <result column="xut_updated_time" property="updatedTime"></result>
        <result column="xut_last_login_time" property="lastLoginTime"></result>
    </resultMap>

</mapper>